@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

/* General Styles */
/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
} */

/* Header Styles */
header {
  background-color: #2C3477;
  color: white;
  padding: 1rem 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

nav a {
  color: white;
  font-weight: bold;
}

/* Hero Section Styles */
body {
  margin: 0;
  padding: 0;
}

.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-logo {
  display: flex;
  justify-content: center;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../../public/hero-image-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(90%);
}

.hero-content {
  position: relative;
  font-family: "Monserrat", sans-serif;
  color: white;
  text-align: center;
  margin: 0.625rem;
}

.hero-title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0;
}

.hero-subtitle {
  font-size: 2rem;
  font-weight: 200;
  margin-top: 1rem;
}


/* Services section styles */
.services-section {
  padding: 2rem;
  background-color: #D8D7DA;
}

.services-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.service-item {
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.service-item h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.service-item p {
  font-size: 1rem;
  color: #555;
}

/* Testimonials Section Styles */
#testimonials {
  background-color: #898CAB;
  padding: 2rem 1rem;
  background-image: url(../../public/hero-image-5.jpg);
  background-size: cover;
  background-position: center;
}

#testimonials h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: whitesmoke;
}

#testimonials blockquote {
  background-color: #f9f9f9;
  padding: 1rem;
  margin: 1rem auto;
  border-left: 5px solid #ff6347;
  max-width: 600px;
}

/* Contact Section Styles */
#contact {
  padding: 2rem;
  background-color: #f9f9f9;
  text-align: center;
}

.contact-details p {
  margin: 0.5rem 0;
}

/* Footer Styles */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

footer a {
  color: white;
}